<footer class="footer">
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, libero esse illo, doloremque quae sint voluptates laboriosam dignissimos delectus, facilis nam officiis ea sunt voluptatum dolorum laborum expedita impedit sed recusandae ratione praesentium est nulla magni. Doloremque voluptatem, ab eius! At suscipit voluptatem, animi. Veritatis quisquam, alias voluptatum ratione inventore!</p>

    <img src="images/logo_cinza.svg" alt="Logo Cinza">
  </div>
</footer>
