<section class="speakers">
  <div class="row">
    <h1>Palestrantes</h1>

    <ul class="speakers-list">
      <li class="speaker">
        <a href="#" class="speaker-link">
          <div class="photo">
            <img src="" alt="Photo">
          </div>

          <h2 class="speaker-name">Samantha Kallis</h2>
          <p class="speaker-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quidem fugit laudantium provident, inventore dolorum minus sunt tempora! Et, ab.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="#" class="speaker-link">
          <div class="photo">
            <img src="" alt="Photo">
          </div>

          <h2 class="speaker-name">Geoff Teehan</h2>
          <p class="speaker-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quidem fugit laudantium provident, inventore dolorum minus sunt tempora! Et, ab.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="#" class="speaker-link">
          <div class="photo">
            <img src="" alt="Photo">
          </div>

          <h2 class="speaker-name">Seu nome</h2>
          <p class="speaker-description"><a href="#" class="link">Clique aqui</a> e seja um palestrante na python Brasil 2015.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="#" class="speaker-link">
          <div class="photo">
            <img src="" alt="Photo">
          </div>

          <h2 class="speaker-name">Seu nome</h2>
          <p class="speaker-description"><a href="#" class="link">Clique aqui</a> e seja um palestrante na python Brasil 2015.</p>
        </a>
      </li>

      <li class="speaker">
        <a href="#" class="speaker-link">
          <div class="photo">
            <img src="" alt="Photo">
          </div>

          <h2 class="speaker-name">Seu nome</h2>
          <p class="speaker-description"><a href="#" class="link">Clique aqui</a> e seja um palestrante na python Brasil 2015.</p>
        </a>
      </li>
    </ul>
  </div>
</section>
